---
import "../styles/mouahaha.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MOUAHAHA</title>
	</head>
	<body>
    <h1>MOUAHAHAHAHA</h1>
    <p>quiconque lit ces lignes est condamné à offrire son âme au créateur de ce site</p>
    <p>pour echaper à la malédiction, il faudra faire un score de <b>100</b> au snake de google (envoyer preuves ici: raphaeldefeche68@gmail.com)</p>
	</body>
</html>
