---
import Naviguation from "./Naviguation.astro"
import Menu from "./menu.astro"
---

<header>
  <nav>
    <div>
      <Menu />
    </div>
    <div class="dropdown">

    </div>
    <Naviguation />
  </nav>
</header>
