---
import Naviguation from "./Naviguation.astro"
import Resources from "./resources.astro"
import About from "./about.astro"
---

<div class="menu">
  <div class="nav">
    Naviguation
    <Naviguation />
  </div>
  <div class="nav">Resources
    <Resources />
  </div>
  <div class="nav">About us
    <About />
  </div>
</div>
